
  <!-- <div class="totemPage"> -->
    <div class="menu">
      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
            <div class="main-content-wrapper">
              <a href="#menu1">Login</a>
              <a href="#menu2">PhoneBook</a>
              <a href="#menu3">Quit</a>
            </div>
        </div>
        <div class="container-fluid">
          <div class="middleBar">
              <div class="row">
                  <div class="col-sm">
                    {{today| date: 'dd.MM.YYYY'}}
                  </div>
                  <div class="col-sm">
                    {{today | date: 'HH:MM:SS'}}
                  </div>
                  <div class="col-sm">
                    Cloudy 12 °C
                  </div>
              </div>
            </div>
              <div class="row">
                <div class="little"></div>
              </div>
              <div class="row">
                <div class="parted"></div>
              </div>
              <div class="row">
                <div class="video"></div>
              </div>
        </div>
    </div>
  <!-- </div> -->