@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter&family=Lora&family=Poppins:wght@200;400&display=swap');


.menu {
    background-color: rgb(225, 0, 117);
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    font-size: 25px;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    
}


#sidebarMenu{
    height: 171px;
    position: fixed;
    overflow: none;
    width: 10%;
    z-index: 100;
    transform: translateY(-171px);
}

.main-content-wrapper a{
    width: 100%;
    height: 40px;
    display: block;
    /* background: #030303; */
    /* background: #9c056f; */
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    /*border-top: 1px solid whitesmoke;  /*#4b4545; */
    border-top: 1px solid linear-gradient(90deg, rgba(156,5,111,1) 5%, rgba(225,0,117,0) 100%);
    /*border-bottom: 1px solid whitesmoke;  #4b4545; */
    color: whitesmoke;
    text-decoration: none;
    background: rgb(156,5,111);
    background: linear-gradient(90deg, rgba(156,5,111,1) 5%, rgba(225,0,117,0) 100%);
}
#sidebarMenu::-webkit-scrollbar {
    width: 12px;
}
#sidebarMenu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px; 
}
#sidebarMenu::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background: #0000002e;
    height: 50px;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translatey(0);
    top:50px /*change here related your top menu height*/
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 22px;
    width: 22px;
    left:10px;
    top:10px;
    display: none
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: whitesmoke;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.middleBar {
    padding-top: 150px;
    width: 100%;
    display: block;
}

.row {
    color: whitesmoke;
    font-size: 40px;
    /* border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke; */
    text-align: center;
    background-color: rgb(122, 15, 90);
}

.row .little {
    height: 25px;
    background-color:rgb(225, 0, 117);
    /* opacity: 0.3; */
}

.row .parted {
    background-color: rgb(122, 15, 90);
    height: 50px;
    border-radius: 5px;
}
.row .video {
    background-color: black;
    height: 300px;
    border-radius: 5px;
}

/* .container {
    color: yellowgreen;
    display: contents;
    text-align: center;
} */

/* and (max-width: 1950px) */
 @media screen  {
      .sidebarIconToggle{
          display:block
       }
    }