
  <!-- <div class="totemPage"> -->
    <div class="menu">
      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
            <div class="main-content-wrapper">
              <a href="#menu1">Login</a>
              <a href="#menu2">PhoneBook</a>
              <a href="#menu3">Quit</a>
            </div>
        </div>
    </div>
  <!-- </div> -->